.wrapper {
  background: url(../assets/home/background-home-desktop.jpg);
  background-size: cover;
  height: 100vh;
}

.inner {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
  height: 70%;
}

.textBox {
  width: 32%;
}

.buttonExpBox {
  background-color: #fff;
  border-radius: 50%;
  width: 276px;
  height: 276px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.exploreButton {
  color: #0b0d17;
  font-family: "Bellefair", serif;
  text-transform: uppercase;
  font-size: 32px;
  letter-spacing: 2px;
  text-decoration: none;
}

.exploreButton:hover {
  box-shadow: 0 0px 0px 50px #d0d6f986;
}
