.wrapper {
  padding-top: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 48px;
  width: 48px;
  margin-left: 50px;
}

.line {
  border-top: 1px solid #d0d6f9;
  opacity: 20%;
  padding: 0 20px;
  display: flex;
  width: 47%;
  padding-bottom: 3px;
  position: absolute;
  right: 830px;
}

.linkBox {
    backdrop-filter: blur(130px);
    height: 96px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-basis: 60%;
    justify-content: space-around;
    
}

.link {
font-family: 'Barlow Condensed', sans-serif;
letter-spacing: 2.7px;
font-size: 16px;
text-transform: uppercase;
text-decoration: none;
color: #fff;
}